/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  nav {
    position: fixed;
    padding: 1rem;
  }

  nav ul li {
    padding: 2px 5px;
    font-size: 1rem;
  }

  /* .hero {
    padding-top: 10px;
    height: 100vh;
    width: 100vw;
  } */

  .heroContent .heroIcons a > img {
    height: 15.62px;
    padding-right: 0;
  }

  .heroContent .heroIcons > a {
    padding-right: 0.2rem;
  }

  .heroContent .arrowDown a > img {
    margin-top: 2.5rem;
    height: 40px;
  }

  .hero .heroContent > h1 {
    text-align: center;
    font-size: 40px;
    padding-bottom: 0.5rem;
    padding-top: 2rem;
  }

  .hero .heroContent > h2 {
    font-size: 40px;
    padding-bottom: 1rem;
    text-align: center;
  }

  .hero .heroContent > p {
    font-size: 20px;
    width: 300px;
    font-weight: 500;
    padding-bottom: 1.3rem;
  }

  /* RECENT WORK */

  .recentWork > h1 {
    font-size: 30px;
    margin-top: 0.5rem;
    padding-bottom: 1rem;
  }

  .recentWork .recentWorkCard {
    flex-direction: column;
    padding: 0;
  }

  .cardButtonContent ul {
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
  }

  .cardButtonContent {
    padding: 2px 2px;
    flex-direction: column;
  }

  .cardButtonContent ul li {
    margin: 0 1px;
    padding: 4px 8px;
    font-size: 1rem;
  }

  .card > img {
    width: 300px;
    max-height: 200px;
  }

  .card {
    display: flex;
    flex-direction: column;
    flex-basis: 500px;
    max-width: 300px;
    margin: 0;
  }

  /* RECENT WORK 2 */

  .workCard {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .recentWorkSection > h1 {
    padding-top: 3rem;
    width: 200px;
    margin: auto;
    font-size: 40px;
    text-align: center;
    align-items: center;
  }

  /* About Me Section */
  .aboutMeWrapper > img {
    display: none;
  }

  .topImg,
  .downImg {
    display: none;
  }

  .aboutMe > p {
    text-align: center;
    width: 300px;
  }

  .aboutMeWrapper {
    padding-top: 0.5rem;
    padding-bottom: 5rem;
  }
}

@media only screen and (min-width: 600px) {
  .card1 {
    border-radius: 8px;
  }
}

@media only screen and (min-width: 768px) {
  .workCard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .topImg {
    margin-top: -100px;
    right: -3rem;
    position: absolute;
    height: 150px;
  }

  .downImg {
    height: 90px;
    margin-top: -15px;
    display: flex;
  }
}

@media only screen and (min-width: 1200px) {
  .workCard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .topImg {
    position: absolute;
    right: -0.1px;
    margin-top: -50px;
    height: 200px;
    display: flex;
  }
}
