:root {
  --text-color: #fff;
  --test-color-2: #333;
  --hero-h1-color: #172b4d;
  --hero-h2-color: #36b37e;
  --btn-color: #ebf0ee;
  --cardBorder-color: #d0d9d4;
  --cardBackgroundColor: #ebf0ee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* === NavBar Section === */
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  /* opacity: .9; */
}

nav ul li {
  display: inline-flex;
  padding: 10px 15px;
  font-size: 1.2rem;
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: var(--text-color-2);
  transition: all 0.3s ease-in-out;
}

li a:hover {
  color: #36b37e;
  transform: scale(1.2);
}

/* Extra small devices (phones, 600px and down) */

/* === Hero Section === */
.heroWrapper {
  background: url("/assets/main-images/hero-bg.png") no-repeat center center;
  background-size: cover;
}

.hero {
  height: 100vh;
  width: 100%;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
}

.heroContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heroContent > h1 {
  color: var(--hero-h1-color);
  font-size: 50px;
  padding-bottom: 0.3rem;
}

.heroContent > h2 {
  color: var(--hero-h2-color);
  font-size: 65px;
  padding-bottom: 0.3rem;
}

.heroContent > p {
  color: var(--hero-h1-color);
  font-size: 1.4rem;
  width: 799px;
  text-align: center;
  padding-bottom: 2rem;
}

.heroContent .heroIcons > a {
  height: 18px;
  padding-right: 0.5rem;
}

.heroContent .arrowDown a > img {
  margin-top: 4rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: #172b4d;
  border-radius: 50%;
}

.heroContent .arrowDown a > img:hover {
  transform: scale(1.2);
  background-color: #36b37e;
  border-radius: 50%;
}

/* === My Recent Work Section === */

.recentWork > h1 {
  font-size: 40px;
  color: var(--hero-h1-color);
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  padding-bottom: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  flex-basis: 500px;
  max-width: 390px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin: 1rem;
}

.card > img {
  width: auto;
  max-height: 300px;
  object-fit: cover;
  background-size: cover;
}

.recentWorkCard {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.cardContent > h3 {
  padding: 10px 20px;
  font-weight: 600;
  line-height: 32px;
  font-size: 24px;
  text-align: center;
  justify-content: center;
}

.cardButtonContent {
  padding: 5px 5px;
  display: flex;
  flex-direction: column;
  /* background-color: var(--hero-h2-color); */
  align-items: center;
}

.cardButtonContent ul {
  display: flex;
  flex-direction: row;
  margin: 4px 5px;
}

.cardButtonContent ul li {
  margin: 5px 10px;
  border: 1px solid var(--btn-color);
  background-color: var(--btn-color);
  padding: 4px 8px;
  border-radius: 10px;
  cursor: pointer;
  color: var(--hero-h1-color);
  transition: all 0.3s ease-in-out;
  font-size: 1rem;
}

.cardButtonContent ul li:hover {
  color: var(--btn-color);
  background-color: var(--hero-h2-color);
}

.cardButtonContent .btn {
  margin: 20px 0;
  padding: 10px 10px;
  font-size: 1rem;
  border: 1px solid var(--btn-color);
  background-color: var(--btn-color);
  cursor: pointer;
  color: var(--hero-h1-color);
  transition: all 0.3s ease-in-out;
}

.cardButtonContent .btn:hover {
  border: 1px solid var(--hero-h2-color);
}

/* === My Recent Work2 Section === */
.recentWorkSection > h1 {
  font-size: 40px;
  color: var(--hero-h1-color);
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  padding-bottom: 3rem;
}

.cardDetails > h3 {
  padding: 10px 20px;
  font-weight: 600;
  line-height: 32px;
  font-size: 24px;
  text-align: center;
  color: var(--hero-h1-color);
}

.card1 > img {
  max-height: 250px;
  width: 350px;
  object-fit: cover;
}

.card1 {
  border: 1px solid var(--cardBorder-color);
  border-radius: 10px;
  overflow: hidden;
}

.recentWorkContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardButton > ul {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  flex-flow: row wrap;
}

.cardButton ul > li {
  margin: 5px 5px;
  border: 1px solid var(--btn-color);
  background-color: var(--cardBorder-color);
  padding: 4px 8px;
  cursor: pointer;
  color: var(--hero-h1-color);
  transition: all 0.3s ease-in-out;
  font-size: 1rem;
  border-radius: 4px;
}

.cardButton ul > li:hover {
  background: var(--hero-h2-color);
  color: var(--btn-color);
}

.cardButton {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardButton .btn {
  margin: 10px 0;
  padding: 12px;
  font-size: 1rem;
  background-color: var(--hero-h2-color);
  cursor: pointer;
  color: var(--btn-color);
  transition: all 0.3s ease-in-out;
  border: 1px solid var(--hero-h2-color);
  border-radius: 2px;
}

.cardButton .btn:hover {
  border: 1px solid var(--hero-h2-color);
  background-color: var(--text-color);
  color: var(--hero-h1-color);
}

.workCard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 40px;
}

/* === About Me Section === */
.aboutMe h1 {
  font-size: 40px;
  font-family: 700;
  padding-bottom: 10px;
}

.aboutMe {
  margin-top: 80px;
  text-align: center;
  position: relative;
  width: 100%;
}

.aboutMe > p {
  font-size: 20px;
  line-height: 32px;
  max-width: 700px;
  margin: auto;
}

.downImg {
  position: absolute;
  left: -0.01px;
  height: 90px;
  margin-top: -60px;
}

.aboutMeWrapper {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.topImg {
  position: absolute;
  right: -0.1px;
  margin-top: -50px;
  height: 200px;
  display: flex;
}

.aboutMeBtn {
  margin-top: 20px;
}

.aboutMe .btn {
  margin: 0 auto;
  max-width: 100px;
  padding: 12px;
  font-size: 1rem;
  background-color: var(--hero-h2-color);
  cursor: pointer;
  color: var(--btn-color);
  transition: all 0.3s ease-in-out;
  border: 1px solid var(--hero-h2-color);
  border-radius: 2px;
}

.aboutMe .btn:hover {
  border: 1px solid var(--hero-h2-color);
  background-color: var(--text-color);
  color: var(--hero-h1-color);
}

/* === About Me Section Card === */

.aboutMeCard {
  margin-top: 8rem;
}

.cardBorder {
  border: 1px solid var(--cardBorder-color);
  border-radius: 10px;
  background-color: var(--cardBackgroundColor);
  overflow: hidden;
  /* padding-top: 25px; */
}

.cardTop {
  margin: 0 auto;
  border: 1px solid var(--cardBorder-color);
  border-radius: 50%;
  height: 80px;
  width: 80px;
  justify-content: center;
  display: flex;
  padding: 15px;
  background-color: var(--text-color);
  cursor: pointer;
}

.cardTop > img {
  transition: all 0.3s ease-in-out;
}

.cardTop > img:hover {
  transform: scale(0.9);
}

.aboutMeCard {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutMeCard .cardWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cardP {
  /* padding: 20px; */
  max-width: 369px;
  height: 316px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
  text-align: center;
}

.cardText > h1 {
  color: #344563;
  font-size: 2em;
}

.cardP .cardDetails > ul {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  gap: 15px;
}

.cardP .cardDetails ul > li {
  gap: 5px;
  border: 1px solid var(--btn-color);
}

.cardBtn > ul {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  flex-flow: row wrap;
}

.cardBtn ul > li {
  margin: 1px 4px;
  border: 1px solid var(--btn-color);
  background-color: var(--cardBorder-color);
  padding: 4px 8px;
  cursor: pointer;
  color: var(--hero-h2-color);
  transition: all 0.3s ease-in-out;
  font-size: 1rem;
  border-radius: 4px;
}

.cardBtn ul > li:hover {
  background: var(--hero-h2-color);
  color: var(--btn-color);
}

.cardBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardBtn .btn {
  margin: 10px 0;
  padding: 12px;
  font-size: 1rem;
  background-color: var(--hero-h2-color);
  cursor: pointer;
  color: var(--btn-color);
  transition: all 0.3s ease-in-out;
  border: 1px solid var(--hero-h2-color);
  border-radius: 2px;
}

.cardBtn .btn:hover {
  border: 1px solid var(--hero-h2-color);
  background-color: var(--text-color);
  color: var(--hero-h1-color);
}

/* ======= Form Deatails Section ==== */

.forms {
  width: 84%;
  margin: 0 auto;
  display: flex;
  /* margin-bottom: 100px; */
}

.formWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.formDetails {
  display: flex;
  flex-direction: column;
}

.input1,
textarea {
  width: 100%;
}

.input2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid var(--cardBorder-color);
  outline: none;
  font-size: 1rem;
}

textarea {
  height: 100px;
  outline: none;
  border: 1px solid var(--cardBorder-color);
  padding: 10px;
  font-size: 1rem;
}

.form1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* max-width: 50px; */
}

.form1 > h2 {
  font-size: 30px;
  font-weight: 700;
  color: var(--hero-h1-color);
}

.formDetails > button {
  max-width: 120px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 17px;
  background-color: var(--hero-h2-color);
  border: 1px solid var(--hero-h2-color);
  color: var(--btn-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.formDetails > button:hover {
  border: 1px solid var(--hero-h2-color);
  background-color: transparent;
  color: var(--hero-h1-color);
}

/* ========= FOOTER SECTION ========== */

footer {
  background-color: var(--);
}

.footerIcons {
  display: flex;
  justify-content: center;
  margin: 15px;
  height: 16px;
  /* padding-right: 0.5rem; */
}

.footerIcons a {
  padding: 0 4px;
}

.cImg1 {
  display: flex;
  position: relative;
  left: -8rem;
  top: -10rem;
}

.cImg3 {
  display: flex;
  position: relative;
  right: -64.05rem;
  top: -45rem;
  width: 213.901px;
  height: 448.701px;
  flex-shrink: 0;
}

.cImg2 {
  display: flex;
  position: relative;
  left: 10rem;
  top: -22rem;
  width: 110px;
}

.ContactImg {
  width: 100%;
  height: 200px;
}
